.herobrands {
  width: 100%;
  height: 203px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.herobrands-container {
  width: 100%;
}

.herobrands-container ul {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center;
  width: 100%; /* Ensure the ul takes up full width */
}

.herobrands-container li {
  display: inline-block;
}

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
